body {
    font-family: 'Libre Baskerville', serif;
    /*color: white;*/
}

/** task containers **/
/*.task-panel {

}*/
/*.task-panel.ng-hide {
  opacity: 0;
}*/
.task-header {
    text-align: center;
    background-color: ghostwhite;
    margin-bottom: 0px;
}
.task-header:hover {
    cursor: alias;    
}
.task-panel.ng-hide-add,
.task-panel.ng-hide-remove {
  transition: all linear 2s;  
}
.task-container {    
    font-size: 1.2  em; /* rem based off of root(relative) size, while em based off of direct parent */
    position: relative; /* Set in order to position close button absolute (based off of first positioned ancestor) */
    border-top: .1px solid ghostwhite;    
    border-bottom: 1px solid seagreen;
}
.task-container:hover {
    cursor: pointer;
    background-color: lightblue;
    color: white;
}
.task-container:first-child {
    border-top: none;    
}
.task-container:last-child {
    border-bottom: none;
}
.task-container-lvl-1 {
    background-color: #d84747;
    /*border-bottom: 2px solid black;*/
}
.task-container-lvl-2 {
    background-color: #ff9900;
    /*border-bottom: 2px solid black;*/
}
.task-container-lvl-3 {
    background-color: yellow;
    /*border-bottom: 2px solid #e6e600;*/
}
.task-container-lvl-4 {
    background-color: #85f218;
    /*border-bottom: 2px solid darkolivegreen;*/
}
.close {
    font-size: 1.5em;
    /*font-size: 1.5em;*/
    /*position: absolute;*/
    /*right: 10px*/
}
.close-wrapper {    
    position: absolute;
    right: 7px;    
    height: inherit;
    /*height: 60%; TODO: make close wrapper circle*/
    /*width: 60%; Note: this adds cool bar to top right*/
}
.close-wrapper:hover {
    background-color: white;
    border-radius: 100px;
}
/** /task containers **/

.active-task {
    /*border-style: inset;*/
    /*border-width: 3px;*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b7deed+0,e8ebed+22,e8ebed+26,71ceef+50,21b4e2+70,b7deed+100 */
    background: #b7deed; /* Old browsers */
    background: -moz-linear-gradient(top,  #b7deed 0%, #e8ebed 22%, #e8ebed 26%, #71ceef 50%, #21b4e2 70%, #b7deed 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #b7deed 0%,#e8ebed 22%,#e8ebed 26%,#71ceef 50%,#21b4e2 70%,#b7deed 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #b7deed 0%,#e8ebed 22%,#e8ebed 26%,#71ceef 50%,#21b4e2 70%,#b7deed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed',GradientType=0 ); /* IE6-9 */
}

.todo {
    color: palevioletred;
}
